# Assignment Day 11
## By Akash Nauhwar

### Question) Find out the correlation of Attrition with other variables. For example Attrition with Age, income, employe performance.

In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

In [2]:
database = pd.read_csv("C:/Users/vishalshivhare/Desktop/general_data.csv")

In [3]:
database.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,37,Yes,Travel_Rarely,Human Resources,9,3,Human Resources,1,1313,Male,...,NaN,Y,17,8,0,7.0,4,3,0,2
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [4]:
from sklearn import preprocessing
label_encoder = preprocessing.LabelBinarizer()
database["Attrition"] = label_encoder.fit_transform(database["Attrition"])
database.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,0,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,37,1,Travel_Rarely,Human Resources,9,3,Human Resources,1,1313,Male,...,NaN,Y,17,8,0,7.0,4,3,0,2
2,32,0,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,0,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,0,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [5]:
databasea = database.drop_duplicates()

In [6]:
database = database.dropna()

In [7]:
database.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,0,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
2,32,0,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,0,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,0,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4
5,46,0,Travel_Rarely,Research & Development,8,3,Life Sciences,1,6,Female,...,3.0,Y,13,8,0,28.0,5,7,7,7

In [8]:
from scipy.stats import pearsonr

In [9]:
# 1) Correaltion between Attrition and Distance from home

In [10]:
stats,p=pearsonr(database.Attrition,database.DistanceFromHome)

In [11]:
print(stats,p)

-0.00944863851515625 0.5317715668019558

In [12]:
# 2) Correaltion between Attrition and Age

In [13]:
stats,p=pearsonr(database.Attrition,database.Age)
print(stats,p)

-0.1583986795409671 5.1265982193780794e-26

In [14]:
# 3) Correaltion between Attrition and Education

In [15]:
stats,p=pearsonr(database.Attrition,database.Education)
print(stats,p)

-0.017106307050278727 0.25757539308157945

In [16]:
# 4) Correaltion between Attrition and percent salary hike

In [17]:
stats,p=pearsonr(database.Attrition,database.PercentSalaryHike)
print(stats,p)

0.03315303713546663 0.028192446935112747

In [18]:
# 5) Correaltion between Attrition and TotalWorkingYears

In [19]:
stats,p=pearsonr(database.Attrition,database.TotalWorkingYears)
print(stats,p)

-0.1696699168472392 1.1645434967091854e-29

In [20]:
# 6) Correaltion between Attrition and NumCompaniesWorked

In [21]:
stats,p=pearsonr(database.Attrition,database.NumCompaniesWorked)
print(stats,p)

0.04283056724472089 0.004572057121620842

In [22]:
# 7) Correaltion between Attrition and TrainingTimesLastYear

In [23]:
stats,p=pearsonr(database.Attrition,database.TrainingTimesLastYear)
print(stats,p)

-0.04758573693081737 0.0016276603635477602

In [24]:
# 8) Correaltion between Attrition and YearsAtCompany

In [25]:
stats,p=pearsonr(database.Attrition,database.YearsAtCompany)
print(stats,p)

-0.13300261842521538 9.476118084840815e-19

In [26]:
# 9) Correaltion between Attrition and YearsSinceLastPromotion

In [27]:
stats,p=pearsonr(database.Attrition,database.YearsSinceLastPromotion)
print(stats,p)

-0.031423150563309944 0.03752293607395154

In [28]:
# 10) Correaltion between Attrition and YearsWithCurrManager

In [29]:
stats,p=pearsonr(database.Attrition,database.YearsWithCurrManager)
print(stats,p)

-0.15469153690287274 7.105369646771178e-25