# Assignment Day 6
## By Akash Nauhwar

### Question 1:
Assuming that we have some email addresses in the "username@companyname.com" format, please write program
to print the company name of a given email address. Both user names and company names are composed of letters
only.

__Input Format:__

The first line of the input contains an email address.

__Output Format:__

Print the company name in single line.

Example;

__Input:__

john@google.com

__Output:__

google

In [2]:
import re
a = input("please enter email address: ") # Taking input
name = a.split("@")[1] # split the email address
name = name.split(".")[0]
print("Company Name : ",name) # print the Company Name

please enter email address: anauhwar@gmail.com
Company Name :  gmail

### Question 2:
Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma
separated sequence after sorting them alphabetically.

__Input Format:__

The first line of input contains words separated by the comma.

__Output Format:__

Print the sorted words separated by the comma.

Example:

__Input:__

without,hello,bag,world

__Output:__

bag,hello,without,world

In [4]:
a = input("Plase enter text separated by the comma.: ") # Taking Input 
b = a.split(",") # split the words by ,
b.sort() # shorting
print("After Sorting: ",b)

Plase enter text separated by the comma.: without,hello,bag,world
After Sorting:  ['bag', 'hello', 'without', 'world']

### Question 3:
Create your own Jupyter Notebook for Sets.
Reference link: https://www.w3schools.com/python/python_sets.asp

In [5]:
set1 = {"apple", "banana", "cherry"} # Set object
print(set1)

{'banana', 'cherry', 'apple'}

In [7]:
set2 = {"apple", "banana", "cherry"}

print("banana" in set2) # checkig variable present in set

True

In [9]:
set3 = {"apple", "banana", "cherry"}
set3.add("orange") # adding new variable in set
print(set3)

{'banana', 'cherry', 'orange', 'apple'}

In [10]:
set4 = {"apple", "banana", "cherry"}
print(len(set4)) # length of set object

3

In [11]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}
set3 = set1.union(set2) # Join two set with union 
print(set3)

{1, 2, 3, 'c', 'b', 'a'}

In [12]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}
set1.update(set2) # join of two sets with update
print(set1)

{1, 2, 3, 'c', 'b', 'a'}

### Question 4:
Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates.

__Input Format:__

The first line contains n-1 numbers with each number separated by a space.

__Output Format:__

Print the missing number

Example:

__Input:__ 1 2 4 6 3 7 8

__Output:5__

Explanation:

In the above list of numbers 5 is missing and hence 5 is the input

In [20]:
def find_missing(lst):  # Function for check missing number 
    for x in range(lst[0],lst[-1]+1):
        if x not in lst:
            print("Missing Number is: ",x)
            
n = int(input("Enter the size of the list :"))
numList = list(int(num) for num in input("Enter the list numbers separated by space ").strip().split())[:n]
find_missing(numList)

Enter the size of the list :7
Enter the list numbers separated by space 1 2 3 4 6 7 8
Missing Number is:  5

## Question 5:
With a given list L, write a program to print this list L after removing all duplicate values with original order reserved.
Example:

If the input list is

12 24 35 24 88 120 155 88 120 155

Then the output should be

12 24 35 88 120 155

Explanation:

Third, seventh and ninth element of the list L has been removed because it was already present.

Input Format:

In one line take the elements of the list L with each element separated by a space.

Output Format:

Print the elements of the modified list in one line with each element separated by a space.

Example:

Input: 12 24 35 24

Output:

12 24 35

In [22]:
mylist = [12,24,35,24,88,120,155,88,120,155] # number list
mylist = list(dict.fromkeys(mylist)) # removing duplicate from list
print(mylist) # print result

[12, 24, 35, 88, 120, 155]